body {
    background: #84C7C7;
    font-family: 'Orbitron', sans-serif;
    color: #003F68;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

p span {
    display: block;
}

.item {
    border-bottom: solid #003F68;
    border-right: solid #003F68;
}

/*------------------------ header ------------------------*/
.container_header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 50px 50px;
    font-weight: 700;
    font-size: 3vw;
}


.item-1, .item-2, .item-4, .item-5 {
    grid-area: span 2 / span 1;
}

.item-3 {
    grid-area: span 1 / span 4;
}

.item-5 {
    border-right: none;
}

.item-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-header:hover {
    background-color: #003F68;
    color: #84C7C7;
}

.p-sub-header {
    font-size: 2.2vw;
}

@media (max-width: 900px) {
    .container_header {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 100px;
        font-size: 4vw;
    }

    .item-1, .item-2, .item-3, .item-4, .item-5 {
        grid-area: span 1 / span 1;
    }

    .item-subheader {
        display: none;
    }
}
/*------------------------ header ------------------------*/



/*------------------------- body -------------------------*/
.container_body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: minmax(500px, auto);
}

.item-11-12 {
    display: none;
}
.item-11, .item-12 {
    grid-area: span 1 / span 3;
}

.item-13{
    border-right: none;
}

.item-11, .item-12 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 95%;
}

.ava {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.box-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 95%;
}

.p-name {
    font-size: 4vw;
    font-weight: bold;
}

.p-about-text {
    font-family: 'Istok Web', sans-serif;
    font-style: italic;
    font-size: 1.2vw;
    text-align: justify;
}

@media (max-width: 900px) {
    .container_body {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: minmax(500px, auto) 300px;
    }

    .item-11-12 {
        display: flex;
    }

    .p-name {
        font-size: 6vw;
    }

    .p-about-text {
        font-size: 1.7vw;
    }
}
/*------------------------- body -------------------------*/


/*------------------------ footer ------------------------*/
.container_footer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100px;
}

.item-18 {
    grid-area: span 1 / span 3;
}

.item-14, .item-15, .item-16, .item-17, .item-18, .item-19 {
    border-bottom: none;
}

.item-19, .item-15, .item-16{
    border-right: none;
}

.footer-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-box-top {
    height: 25px;
    font-size: 2vw;
    font-weight: bold;
    padding-left: 10px;
}

.footer-box-bottom {
    font-family: 'Istok Web', sans-serif;
    font-style: italic;
    font-size: 1.2vw;
    padding-left: 10px;
}

@media (max-width: 900px) {
    .container_footer {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 100px;
    }

    .item-18 {
        display: none;
    }

    .footer-box-top {
        font-size: 3vw;
    }

    .footer-box-bottom {
        font-size: 1.7vw;
    }
}
/*------------------------ footer ------------------------*/
